body {
  background-color:#f6eedf;
}

hr {
  /* background-color: white; */
  border-style: dotted none none;
  border-color: black;
  border-width:3px;
  width: 4%;
}

h1 {
  color: #DE7119;
}

h3 {
  color: #DE7119;
  text-decoration: underline;
}

.circular {
  border-radius: 80%;
}
